<%= provide(:title, "About") %>
<h1>About</h1>
<p>
  School Platform, abbreviated as <i>SchPlat</i>, <i>SPlat</i> or simply
  <i>SP</i> is a communications platform for students, teachers and
  administrative staff in a school environment.
</p>
