<div class="panel panel-default" id="message-<%= message.id %>">
  <div class="panel-heading">
    <%= render message.user %>
  </div>
  <div class="panel-body">
    <%= message.content %>
  </div>
  <div class="panel-footer">
    Posted at: <%= message.created_at %>
  </div>
</div>
