<% provide(:title, "Conversations") %>
<h1>Conversations</h1>
<table width="100%" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>
        Conversation
      </th>
      <th>
        Participants
      </th>
      <th>
        Last message
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @conversations %>
  </tbody>
</table>
