<% provide(:title, @school.name) %>
<div class="row">
  <div class="col-md-12">
    <h1><%= @school.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render partial: 'news_posts/news_feed', locals: { news_feed: @school } %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'data_files/file_panel', locals: { repository: @school } %>
  </div>
</div>
