<% provide(:title, @course.name) %>
<div class="row">
  <div class="col-md-12">
    <h1><%= @course.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render partial: 'participants_panel', locals: { users: @course.users.merge(CourseParticipation.teachers), role: :teacher } %>
    <%= render partial: 'participants_panel', locals: { users: @course.users.merge(CourseParticipation.students), role: :student } %>
  </div>
</div>
