<% provide(:title, @course.name) %>
<div class="row">
  <div class="col-md-12">
    <h1><%= @course.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render partial: 'participants_panel' %>
    <%= render partial: 'lectures_panel' %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'data_files/file_panel', locals: { repository: @course } %>
  </div>
</div>
