// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  h1 {
    font-size: 2em;
  }

  img.profile-picture {
    float: right;
  }

  ul {
    padding-left: 0;
    li {
      list-style: none;
      font-size: 1.1em;
    }
  }
}
